* {box-sizing: border-box;
	margin: 0;
	padding: 0;
	}
	header nav{color: none;
	}
	header a {color: black;
	}
	/* etiqueta */
	html{height: 100%;
	}
	body{font-family: 'Hind Siliguri', sans-serif;
	font-size: 100%;
	min-height: 100%;
	}
	h1{color: black;
		font-size: 30px;
		text-align: center;
	}
	a{text-decoration: none;
	}
	/* class */
	.boton-hamburguesa{
		box-sizing: border-box;
		display: inline-block;
		border: 1px solid black;
		border-radius: 5px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		text-align: center;
		user-select: none;
	}
	.link{color: grey;
	}
	.h1{color: black;
	}
	.animate__animated.animate__bounceInUp{
		color: black;
		font-size: 30px;
		text-align: center;
	}
	.background{ 
			 width: -auto;
			 height: 500px;
			 overflow:-moz-hidden-unscrollable;
	}
	.background2{
		width: -100px;
		height: 500px;
		font-style:normal;
	}
	.background4{ 
		background-color: grey;
		overflow: hidden;
	}
	.oferta__contenido, .article{font-style: normal;
	}
	.oferta{font-size: 30px;
		color: black;
	}
	.grid2, .grid3{
		display: grid;
		width: auto;
		padding: 10px;
		border-radius: 4px;
		text-align: left;
		gap: 50px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 100px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: repeat(2,50px);
		color:white;
	}
	.oferta__contenido{
			 color: black;
			 text-decoration: none;
			 font-size: 2vh;
			 list-style-type: none;
	}
    .article-3{margin-top: 140px;
			 color: black;
			 font-size: 30px;
			 text-align: center;
			 overflow: hidden;
	}
	.modal.fade{color: black;}
	.footer__a, .footer, .footer1, .footer1__a{text-align: center;
							                   font-size: 10mm;
	}
	.card-deck{margin-top: 50px;
		       margin-left: auto;
			   margin-right: auto;
	}
	.btn.btn-outline-success{color: black;
	}
	.nav-link{color: black;
	font-size: 150%;
	}
	.card{background: none;
	}
	.card-body{color:black;
	}
	.btn.btn-link.btn-block.text-left.collapsed{color: black
	}
	@media only screen and (min-width: 320px){ /* medida celular */
	.background{background-color: white;}
	.background2{color: grey;}
	}
	@media only screen and (min-width: 768px) and (max-width: 1366px){ /* medida tablet */
	.background{background-color: white;}
	.background2{color: grey;}
	}
	@media only screen and (min-width: 1024px){ /* medida desktop */
	.background{background-color: white;}
	.background2{color: black;}
	}