$family: 'Hind Siliguri', sans-serif;
$size: 100%;
$min: 100%;

html{height: $min;
}
body{font-style: $family;
font-size: $size;
min-height: $min;
}
@import "grid";
@import "header";
@import "background";
@import "oferta";
@import "bootstrap";