$family: 'Hind Siliguri', sans-serif;
$size: 100%;
$min: 100%;
$hidden: hidden;

html{height: $min;
}
body{font-style: $family;
font-size: $size;
min-height: $min;
overflow-x: $hidden;
}
@import "header";
@import "background";
@import "bootstrap";